.fa-instagram {
    display: flex;
    width: 250px;
    height: 250px;
    text-align: center;
    border-radius: 40px;
    font-size: 220px;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    font-size: 19px !important;
    }
    @keyframes shake {
        0% {
          margin-left: 0rem;
        }
        25% {
          margin-left: 0.5rem;
        }
        75% {
          margin-left: -0.5rem;
        }
        100% {
          margin-left: 0rem;
        }
      }
      
      input:invalid {
        animation: shake 0.2s ease-in-out 0s 2;
        box-shadow: 0 0 0.6rem #ff0000;
      }